<%= render "shared/navbar" %>

<%# Banner %>
<div class="banner-bol" style="background-image: url('https://res.cloudinary.com/dgrsenrsa/image/upload/v1705948556/Site%20brasas.com/44_zotqsh.png');">
 <div class="banner-text">
   <h1>BRASAS Online</h1>
   <p>Viva a experiência de aprender inglês em tempo real.</p>
 </div>
</div>

<div class="container mt-3">
  <h6 class="claf"><u>Cursos</u> / <strong>BRASAS Online</strong></h6> <br>
</div>

<%# Cards BOL %>
<div class="cards-bol">
  <div class="card-bol"><h6>Kids</h6>
    <div class="inner-div">
      <div class="i-div"><i class="fa-solid fa-arrow-right"></i><p>Aulas em grupo</p></div>
      <div class="i-div"><i class="fa-solid fa-arrow-right"></i><p><strong>Para alunos matriculados a partir do 3º ano do ensino fundamental</strong></p></div>
      <div class="i-div"><i class="fa-solid fa-arrow-right"></i><p><span class="special-color">2x</span> na semana</p></div>
    </div>
    <div class="extra-div">
      <p>Participação ao vivo do professor</p>
    </div>
  </div>

  <div class="card-bol"><h6>Juniors</h6>
    <div class="inner-div">
      <div class="i-div"><i class="fa-solid fa-arrow-right"></i><p>Aulas em grupo</p></div>
      <div class="i-div"><i class="fa-solid fa-arrow-right"></i><p><strong>Para alunos matriculados a partir do 6º ano do ensino fundamental</strong></p></div>
      <div class="i-div"><i class="fa-solid fa-arrow-right"></i><p><span class="special-color">2x</span> na semana</p></div>
    </div>
    <div class="extra-div">
      <p>Participação ao vivo do professor</p>
    </div>
  </div>

  <div class="card-bol"><h6>Regular</h6>
    <div class="inner-div">
      <div class="i-div"><i class="fa-solid fa-arrow-right"></i><p>Aulas em grupo</p></div>
      <div class="i-div"><i class="fa-solid fa-arrow-right"></i><p><strong>Formação completa em aproximadamente 5 anos</strong></p></div>
      <div class="i-div"><i class="fa-solid fa-arrow-right"></i><p><strong>6 meses cada módulo (livro)</strong></p></div>
      <div class="i-div"><i class="fa-solid fa-arrow-right"></i><p><span class="special-color">2x</span> na semana</p></div>
    </div>
    <div class="extra-div">
      <p>Participação ao vivo do professor</p>
    </div>
  </div>

  <div class="card-bol"><h6>Intensive</h6>
    <div class="inner-div">
      <div class="i-div"><i class="fa-solid fa-arrow-right"></i><p>Aulas em grupo</p></div>
      <div class="i-div"><i class="fa-solid fa-arrow-right"></i><p><strong>Formação completa em aproximadamente 2 anos e meio</strong></p></div>
      <div class="i-div"><i class="fa-solid fa-arrow-right"></i><p><strong>3 meses cada módulo (livro)</strong></p></div>
      <div class="i-div"><i class="fa-solid fa-arrow-right"></i><p><span class="special-color">4x</span> na semana</p></div>
    </div>
    <div class="extra-div">
      <p>Participação ao vivo do professor</p>
    </div>
  </div>

  <div class="card-bol"><h6>Private</h6>
    <div class="inner-div">
      <div class="i-div"><i class="fa-solid fa-arrow-right"></i><p>Aulas particulares para <strong>1 ou 2 alunos</strong></p></div>
    </div>
    <div class="extra-div">
      <p>Participação ao vivo do professor</p>
    </div>
  </div>
</div>

<%# Inovação no Aprendizado %>
<div class="container-inovacao">
  <div class="inovacao-texto">
    <h1>Inovação no aprendizado</h1>
  </div>

  <div class="grid-container">
    <div class="grid-item-1">
      <div class="item-1"><i class="fa-solid fa-laptop"></i><p>Aulas ao vivo com 60 minutos</p></div>
    </div>

    <div class="grid-item-2">
      <div class="item-2"><i class="fa-solid fa-star"></i><p>Qualidade comprovada com certificações internacionais</p></div>
    </div>

    <div class="grid-item-3">
      <div class="item-3"><i class="fa-solid fa-clipboard"></i><p>100% dos alunos de Book 10 tiveram notas acima de 800 pontos no TOEIC</p></div>
    </div>

    <div class="grid-item-4">
      <div class="item-4"><i class="fa-solid fa-person-chalkboard"></i><p>Professores com certificação internacional</p></div>
    </div>

    <div class="grid-item-5">
      <div class="item-5"><i class="fa-solid fa-clapperboard"></i><p>Acesso a todo nosso acervo digital sem custo extra</p></div>
    </div>

    <div class="grid-item-6">
      <div class="item-6"><i class="fa-solid fa-volume-high"></i><p>Pratique a sua compreensão auditiva e pronúncia com as gravações do BRASAS Audio Tracks</p></div>
    </div>

    <div class="grid-item-7">
      <div class="item-7"><i class="fa-solid fa-dollar-sign"></i><p>Aulas de apoio gratuitas</p></div>
    </div>

    <div class="grid-item-8">
      <div class="item-8"><i class="fa-solid fa-book-open"></i><p>Livro Digital sempre atualizado e com ferramentas modernas</p></div>
    </div>

    <div class="grid-item-9">
      <div class="item-9"><i class="fa-brands fa-google"></i><p>Conecte-se com a sua turma através do Google Classroom</p></div>
    </div>

  </div>
</div>

<%# Formas de Pagamentos %>
<div class="pagamentos">
  <div class="formas">
    <div class="mensal"><i class="fa-solid fa-face-laugh"></i><h1>Pagamento Mensal</h1><p>Sem fidelidade</p></div>
    <div class="anual"><i class="fa-solid fa-face-laugh"></i><h1>Pagamento Semestral e Anual</h1><p>Com condições especiais</p></div>
  </div>
</div>

<style>
  .pagamentos {
    width: 879px;
    margin: auto;
    padding: 20px; /* Ajuste o padding conforme necessário */
    border-radius: 35px;
    box-sizing: border-box; /* Inclui o padding no cálculo total */
    border: 1px solid #E0004D;
  }

  .formas {
    display: flex;
    justify-content: space-between;
  }

  .mensal, .anual {
    flex: 1; /* Permite que ocupem a largura disponível igualmente */
    padding: 10px;
  }

  .mensal h1,
  .anual h1 {
    color: #0057B8;
    font-family: 'Museo Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }

  .mensal p,
  .anual p {
    color: #0057B8;
    font-family: 'Museo Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }

  .mensal i,
  .anual i {
    color: #0057B8;
    width: 25.6px;
    height: 25.6px;
    top: 3.2px;
    left: 3.2px;
  }
</style>

<%# Quero saber mais %>
<div class="contato-container" id="contato-container">
  <h2 class="quero-saber">Quero saber mais</h2>
  <div class="row whats mt-auto">
    <div class="col-lg-12 col-xl-8 atendente1">
      <div class="bg-mais">
        <center>
          <h1 class="teste3">Solicite um contato</h1>
        </center>
        <h2 class="teste2">Deixe os seus dados abaixo e entraremos em contato para mais informações.</h2>
        <%= simple_form_for :student, url: contato_path, data: { turbo: false } do |f| %>
          <div class="col">
            <div class="form-group">
              <%= f.input :nomecontato, label: 'NOME', placeholder:'Insira seu nome', id:'name', required: true %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <%= f.input :emailcontato, label: 'E-MAIL', placeholder:'Insira seu e-mail', id:'student_email', required: true %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <%= f.input :telefonecontato, label: 'TELEFONE', placeholder:'(ddd)xxxxx-xxxx', id:'student_telefone', required: true %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <%= f.input :acordo, as: :boolean, boolean_style: :inline, label: "Eu concordo em receber comunicações e ofertas personalizadas de acordo com meus interesses." %>
            </div>
          </div>
          <div class="avancar">
            <%= f.button :submit, "Solicitar contato", class: "btn btn-primary", id: "cadastronivel7" %>
          </div>
        <% end %>
      </div>
    </div>

  <div class="container-abc">
    <%# <div class="falar"> %>
      <div class="col-lg-12 col-xl-8  container-falar">
        <div whatsapp-textos>
          <%= image_tag "zap.png", id: 'whatsapp-logo' %>
          <h3 class="texto-whatsapp-1"><strong>Falar com um atendente</strong></h3>
          <h6 class="texto-whatsapp-2"> Clique aqui pra falar com um atendente via WhatsApp agora mesmo. </h6>
        </div>
        <br>
        <div encontre-total>
          <i class="fa-solid fa-location-dot"></i>
          <h3 class="texto-encontre-1"><strong>Encontre uma unidade</strong></h3> <br>
          <h6 class="texto-encontre-2"> Encontre a unidade mais próxima e informe-se sobre disponibilidade de turmas. </h6>
        </div>

        <div class="botao-encontre">
          <%= simple_form_for :student, url: contato_path, data: { turbo: false } do |f| %>
            <%= f.button :submit, "Encontre sua unidade", class: "btn btn-primary", id: "botao-unidade" %>
          <% end %>
        </div>

        <div class="container-teste">
          <h4><strong>Para começar, descubra seu nível em nosso teste de nivelamento.</strong></h4>
          <p>O nosso teste de nivelamento te ajuda a descobrir em que módulo você deve ingressar. Acesse o link abaixo e comece o seu teste agora mesmo!</p>
            <a href="https://brasasonline.typeform.com/teste-de-ingles?utm_source=xxxxx&utm_medium=xxxxx&utm_campaign=xxxxx&typeform-source=brasasonline.com.br" target="_blank" class="btn btn-primary" id="botao-teste">Acessar o teste</a>
        </div>
        <%# <center><%= link_to "Encontrar unidade", locations_path, id:'cadastronivel7' %></center>
      </div>
    </div>
  </div>
</div>

<%# Cards Cursos %>
<div class="containercursos">
  <center><h2 class="conheca mt-5"><strong>Conheça nossos cursos</strong></h2></center>

  <div class="col-12 tipodecursos">
    <div class="cards1">
      <div class="card-category1" color="white">
        <center>
          Pre-k <br>
          <h6 class="mod mt-3">A partir do Pré-2</h6>
          <img src="https://res.cloudinary.com/dgrsenrsa/image/upload/v1705516500/Site%20brasas.com/1_wkozwz-removebg-preview_edqwan.png" alt="Descrição da imagem" class="imagem-card">
        </center>
      </div>

      <div class="card-category1" color="white">
        <center>
          Kids <br>
          <h6 class="mod mt-3">3º ano do Ensino Fundamental</h6>
          <img src="https://res.cloudinary.com/dgrsenrsa/image/upload/v1705516715/Site%20brasas.com/2_kw3u8k-removebg-preview_gf0sze.png" alt="Descrição da imagem" class="imagem-card1">
        </center>
      </div>

      <div class="card-category1" color="white">
        <center>
          Juniors & Teens <br>
          <h6 class="mod mt-3">6º ano do Ensino Fundamental</h6>
          <img src="https://res.cloudinary.com/dgrsenrsa/image/upload/v1705516823/Site%20brasas.com/3_gwu1gm-removebg-preview_a1g4y8.png" alt="Descrição da imagem" class="imagem-card2">
        </center>
      </div>

      <div class="card-category1" color="white">
        <center>
          Adults <br>
          <h6 class="mod mt-3">A partir de 14 anos</h6>
          <img src="https://res.cloudinary.com/dgrsenrsa/image/upload/v1705516897/Site%20brasas.com/4_rsdkid-removebg-preview_inylag.png" alt="Descrição da imagem" class="imagem-card">
        </center>
      </div>

      <div class="card-category1" color="white">
        <center>
          BRASAS Online <br>
          <h6 class="mod mt-3">Aprenda com aulas online e ao vivo</h6>
          <img src="https://res.cloudinary.com/dgrsenrsa/image/upload/v1705516987/Site%20brasas.com/5_qd6zbf-removebg-preview_bl5s9t.png" alt="Descrição da imagem" class="imagem-card3">
        </center>
      </div>

      <div class="card-category1" color="white">
        <center>
          Certificação Internacional <br>
          <h6 class="mod mt-3">Cursos preparatórios e prova</h6>
          <img src="https://res.cloudinary.com/dgrsenrsa/image/upload/v1705517093/Site%20brasas.com/6_n3h31m-removebg-preview_wd8t9m.png" alt="Descrição da imagem" class="imagem-card">
        </center>
      </div>

      <div class="card-category1" color="white">
        <center>
          Parcerias <br>
          <h6 class="mod mt-3">Escolas, Universidades e Empresas</h6>
          <img src="https://res.cloudinary.com/dgrsenrsa/image/upload/v1705517187/Site%20brasas.com/7_blgxte-removebg-preview_cbgbsj.png" alt="Descrição da imagem" class="imagem-card">
        </center>
      </div>
    </div>
  </div>
</div>


<%# CSS %>
<style>
  /* Banner */
.banner-bol {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  padding: 250px 0;
}

.banner-text {
    width: Fixed (885px);
    height: Hug (128px);
    gap: 32px;
    margin-top: -70px;
  }

.banner-text h1{
  color: #FFFFFF;
  font-family: 'Museo Sans', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: center;
}

.banner-text p{
  width: 450px;
  color: #FFFFFF;
  font-family: 'Museo Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 730px;
}
/* ----------------------------------end------------------------------------- */

/* Cards BOL */
.cards-bol {
  width: Fill (243.2px);
  Height: Fill (372px);
  background-color: #EDF7FB;
  padding: 80px 250px;
  display: flex;
  gap: 40px;
}

.cards-bol h6 {
  width: 195.2px;
  height: 32px;
  font-family: 'Museo Sans', sans-serif;
  color: #0057B8;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.card-bol {
  flex: 1;
  width: calc((100% - (40px * 4)) / 5);
  height: auto;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #0057B8;
  gap: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.inner-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 15px;
}

.i-div {
  display: flex;
  padding-botton: 20px;
  gap: 10px;
}

.i-div p {
  color: #2C2C2C;
  font-family: 'Museo Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.extra-div {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.extra-div p {
  color: #929292;
  font-family: 'Museo Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: auto;
  margin-bottom: 15px;
}

.i-div p span.special-color {
  color: #0057B8;

}
/* ----------------------------------end------------------------------------- */

/* Container Inovação do Aprendizado */
.container-inovacao {
  width: 1201px;
  height: 707px;
  padding: 60px 0 60px 0;
  margin: 0px 350px 0px 350px;
}

.inovacao-texto {
  width: Fixed (886px);
  height: Hug (48px);
  gap: 32px;

}

.inovacao-texto h1 {
  color: #2C2C2C;
  font-family: 'Museo Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
}

.grid-container {
  display: grid;
  background-color: #1E22BE;
  color: #FFFFFF;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  padding: 40px 60px 40px 60px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 35px;
  border: 1px;
  gap: 60px;
}

.grid-item-1 {
  width: Fixed (280px);
  height: Hug (64px);
  border-radius: 16px;
}

.grid-item-2 {
  width: Fixed (280px)
  height: Hug (96px);
  border-radius: 16px;
  gap: 16px;

}

.grid-item-3 {
  width: Fixed (360px);
  height: Hug (96px);
  border-radius: 16px;
}

.grid-item-4 {
  width: Fixed (280px);
  height: Hug (96px);
  border-radius: 16px;
  gap: 16px;
}

.grid-item-5 {
  width: Fixed (280px);
  height: Hug (64px);
  border-radius: 16px;
}

.grid-item-6 {
  width: Fixed (280px)
  height: Hug (96px);
  border-radius: 16px;
  gap: 16px;

}

.grid-item-7 {
  width: Fixed (360px);
  height: Hug (96px);
  border-radius: 16px;
}

.grid-item-8 {
  width: Fixed (280px);
  height: Hug (96px);
  border-radius: 16px;
  gap: 16px;
}

.grid-item-9 {
  width: Fixed (280px);
  height: Hug (96px);
  border-radius: 16px;
  gap: 16px;
}

.item-1 {
  width: 163px;
  height: 64px;
  display: flex;
  gap: 10px;
}

.item-2 {
  width: 232.16px;
  height: 96px;
  display: flex;
  gap: 10px;
}

.item-3 {
  width: 282.94px;
  height: 96px;
  display: flex;
  gap: 10px;
}

.item-4 {
  width: 219.06px;
  height: 96px;
  display: flex;
  gap: 10px;
}

.item-5 {
  width: 174px;
  height: 64px;
  display: flex;
  gap: 10px;
}

.item-6 {
  width: 232.16px;
  height: 96px;
  display: flex;
  gap: 10px;
}

.item-7 {
  width: 195.94px;
  height: 96px;
  display: flex;
  gap: 10px;
}

.item-8 {
  width: 248.06px;
  height: 96px;
  display: flex;
  gap: 10px;
}

.item-9 {
  width: 176.06px;
  height: 96px;
  display: flex;
  gap: 10px;
}

.item-1 .item-2 .item-3
.item-4 .item-5 .item-6
.item-7 .item-8 .item-9 i {
  width: 32px;
  height: 32px;
  padding: 4.81px 0px 4.79px 0px;
}

.item-1 .item-2 .item-3
.item-4 .item-5 .item-6
.item-7 .item-8 .item-9 p {
  font-family: 'Museo Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
/* ----------------------------------end------------------------------------- */

/* Formas de Pagamentos */
/* .pagamentos {
  width: 879px;
  height: 104px;
  margin: auto;
  padding: 70px;
  border-radius: 35px;
  border: 1px;
  gap: 20px;
  border: 1px solid #E0004D;
} */
/* ----------------------------------end------------------------------------- */

.container-abc {
  margin-top: 90px;
  margin-left: 200px;
}

.container-teste {
  background-color: white;
  width: 458px;
  height: 296px;
  margin-top: 50px;
  margin-left: -196px;
  padding: 32px;
  border-radius: 24px;
  border: 1px #BCBEC0;
  box-sizing: border-box;
  gap: 32px;
  background-color: #fff;
}

.container-teste h1 {
  width: 394px;
  height: 64px;
  font-family: 'Museo Sans', sans-serif;
  color: #2C2C2C;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
}

.container-teste p {
  width: 394px;
  height: 72px;
  font-family: 'Museo Sans', sans-serif;
  color: #2C2C2C;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 20px;
}

#botao-teste {
  border-color: #1E22BE;
  background-color: white;
  text-decoration: none;
  color: #1E22BE;
  border-radius: 8px;
  font-size: 15px !important;
  margin-top: 15px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  padding-bottom: 15px;
  width: 394px;
  height: 48px;
  text-align: center;
}

#botao-teste:hover {
  color:white;
  background-color: #1E22BE;
}

.bg-mais {
  font-family: 'Museo Sans', sans-serif;
  background-color: white;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 1px;
  margin-bottom: 57px;
  margin-right: -100px;
  margin-left: 101px;
}

.bg-mais h1 {
  font-family: 'Museo Sans', sans-serif;
  color: #2C2C2C;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

.bg-mais h2 {
  font-family: 'Museo Sans', sans-serif;
  color: #2C2C2C;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
width: 330px;
}

.form-label {
  font-family: 'Museo Sans', sans-serif;
  color: #2C2C2C;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-align: left;
}

.form-check {
  font-family: 'Museo Sans', sans-serif;
  color: #2C2C2C;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-align: left;
}

.falar {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.container-falar {
  width: 164px;
  margin-right: auto !important;
  margin-left: 90px !important;
  margin-top: 100px;
  margin-bottom: 30px;
}

.quero-saber {
  color: #FFFFFF;
  width: 339px;
  height: 48px;
  font-family: 'Museo Sans', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 60px;
  margin-left: 800px;
  padding-top: 70px;
}

.contato-container {
  background-image: url('https://res.cloudinary.com/dgrsenrsa/image/upload/v1705411901/Site%20brasas.com/32_ekwrtw.png');
  width: auto;
  height: auto;
  background-size: 100% 100%;
  background-position: center;
  top: -1px;
}

.atendente1 {
  width: Fixed (541px);
  height: Hug (632px);
  margin-top: 100px;
  margin-left: 187px;
  border-radius: 16px;
  border: 1px;
  gap: 32px;
}

#whatsapp-logo {
  width: 52px;
  height: 52px;
  margin-top: -140px;
  margin-left: -202px;
}

.whatsapp-textos {
  width: 164px;
  height: 79px;
}

.texto-whatsapp-1 {
  color: white;
  font-family: 'Museo Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: -111px;
  margin-left: -130px;
}

.texto-whatsapp-2 {
  color: white;
  font-family: 'Museo Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: -130px;
}


.fa-location-dot {
  color: rgb(255, 255, 255);
  font-size: 50px !important;
  margin-top: 20px;
  margin-left: -195px;
  display: flex;
}

.encontre-total {
  width: 164px;
  height: 79px;
}

.texto-encontre-1 {
  color: white;
  font-family: 'Museo Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: -50px;
  margin-left: -130px;
}

.texto-encontre-2 {
  width: 350px;
  color: white;
  font-family: 'Museo Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: -25px;
  margin-left: -130px;
}

#botao-unidade {
  border-color: #1E22BE;
  background-color: #1E22BE;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  font-size: 15px !important;
  font-weight: bolder !important;
  margin-top: 20px;
  margin-left: -130px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 208px;
  text-align: center;
}

#botao-unidade:hover {
  color:#1E22BE;
  background-color: white;
}
/* ----------------------------------end------------------------------------- */

/* Cards Cursos */
.containercursos {
  background-color: #EBFAFF;
  padding: 40px 0 144px 0;
  max-width: 100%;
  height: 100%;
}

.conheca {
  color: #2C2C2C;
  font-family: 'Museo Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
}

.tipodecursos {
  display: flex;
  justify-content: center;
}

.cards1 {
  display: flex;
  justify-content: center;
  max-width: 1400px;
  flex-wrap: wrap;
  margin-top: 60px;
}

.card-category1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #001E60;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  width: 324px;
  height: 264px;
  background: #FFFFFF;
  border: 1px solid #B3B3B3;
  padding: 20px;
  border-radius: 16px;
  overflow: hidden;
}

.imagem-card {
  width: 324px;
  height: auto;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.imagem-card1 {
  width: 324px;
  height: auto;
  position: relative;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-top: -40px;
}

.imagem-card2 {
  width: 324px;
  height: auto;
  position: relative;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-top: -10px;
}

.imagem-card3 {
  width: 324px;
  height: auto;
  position: relative;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-top: -32px;
}
/* ----------------------------------end------------------------------------- */
</style>

<%= render "shared/footer" %>
<%= render "shared/flashes" %>

<script>
setTimeout(function() {
var flashes = document.querySelectorAll('.alert');
flashes.forEach(function(flash) {
flash.style.display = 'none';
});
}, 3000);
</script>
