<%= render "shared/navbar" %>

<div class="banner" style="background-image: url(https://res.cloudinary.com/dgrsenrsa/image/upload/v1705685751/Site%20brasas.com/35_aoksho.png);" id="bg-image1">
  <div class="container">
    <center>
      <div class="metodo">
        Seja um franqueado <br>
      </div>
      <br>
      <div class="metodos">
        O BRASAS está sempre em expansão, e você também pode fazer parte dessa  <br>
        história de sucesso. Torne-se um franqueado e nos ajude na nossa missão de <br>
        expandir horizontes com o domínio do inglês.
      </div>
    </center>
  </div>
</div>

<div class="container bg-quero" id="bg-quero">
  <div class="row whats">
    <div class="col-lg-12 col-xl-8 atendente1">
      <div class="bg-mais1">
        <div class="teste3">Qualidade acima de tudo</div>
        <div class="teste4">
          O BRASAS preza muito pela qualidade de seu ensino, oferecendo o que <br>
          há de melhor no mercado para os seus alunos através do seu método de <br>
          aprendizagem, professores eficientes e material qualificado. São anos <br>
          obtendo resultados positivos seguindo essa filosofia didática. Leia mais <br>
          sobre o nosso método. <br> <p></p>
          É de extrema importância que o dono de uma franquia BRASAS esteja <br>
          afinado com nossa filosofia e compromisso com a qualidade. Este <br>
          cuidado na escolha de parceiros pode determinar uma demora no <br>
          processo de expansão das unidades. Mas por outro lado, todas as <br>
          escolas abertas são um sucesso, adquirindo o mais alto conceito <br>
          prestígio nas suas cidades. <br> <p></p>
          Seja um franqueado BRASAS.
        </div>

      </div>
    </div>

    <div class="col-lg-12 col-xl-8 atendente1">
      <div class="bg-mais">
        <h1 class="teste1">Entre em contato!</h1>
        <h1 class="teste2">Para enviar uma mensagem, é necessário preencher os campos.</h1>
        <%= simple_form_for :student, url: fale_conosco_post_path, data: { turbo: false } do |f| %>
          <div class="form-group">
            <%= f.input :nomefale, label: 'NOME', placeholder:'Insira seu nome', id:'name', required: true %>
          </div>

          <div class="form-group">
            <%= f.input :emailfale, label: 'E-MAIL', placeholder:'Insira seu e-mail', id:'student_email', required: true %>
          </div>

          <div class="form-group">
            <%= f.input :telefonefale, label: 'TELEFONE', placeholder:'(ddd)xxxxx-xxxx', id:'student_telefone', required: true %>
          </div>

           <div class="form-group">
              <%= f.input :mensagemfale, as: :text, label: 'MENSAGEM', placeholder: 'Insira sua mensagem', id: 'student_mensagem', required: true, input_html: { class: 'custom-textarea' } %>
            </div>

          <div class="form-group">
            <%= f.input :acordo, as: :boolean, boolean_style: :inline, label: "Eu concordo em receber comunicações e ofertas personalizadas de acordo com meus interesses." %>
          </div>

          <div class="form-group text-center">
            <%= f.button :submit, "Enviar", class: "btn btn-primary", id: "cadastronivel1" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>

<style>
  .bg-quero {
    background-color: white;
  }

  .atendente1 {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .whats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    margin-top: 60px;
    max-width: 100%;
  }

  .metodo {
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
    color: white;
  }

  .metodos {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: white;
  }

  .custom-textarea {
    height: 120px; /* Ajuste a altura conforme necessário */
    resize: vertical;
    margin-top: -81px;
  }

  .form-check-label, #student_acordo {
    margin-top: 50px;
  }

  .text {
    font-size: small !important;
    font-weight: bold !important;
    height: 100px;
    color: black;
  }

  .teste1 {
    color: black;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 21px;
    font-weight: bold;
    text-align: initial;
    padding-top: 20px;
  }

  .teste3 {
    padding-left: 20px;
  }

  .teste4 {
    color: black;
    font-size: 16px;
    margin-bottom: 40px;
    text-align: initial;
    line-height: 24px;
    padding-left: 20px;
    font-weight: 400;
  }

  .teste3 {
    color: black;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 21px;
    font-weight: bold;
    text-align: initial;
    padding-top: 20px;
  }

  .bg-mais {
    background-color: white;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 1px;
    padding-bottom: 41px;
    margin-bottom: 57px;
    margin-top: -100px;
    border: 1px solid #BCBEC0;
  }

  .bg-mais1 {
    background-color: white;
    padding: 10px;
    margin-bottom: 57px;
    width: 590px;
    text-align: center;
    padding-bottom: 30px;
    margin-top: -50px;
  }

  #cadastronivel1 {
    border-color:  #929292;
    background-color: #929292;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    font-size: 15px !important;
    font-weight: bolder !important;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 90%;
    text-align: center;
  }

  #cadastronivel1:hover {
    border-color: #1E22BE;
    background-color: #1E22BE;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    font-size: 15px !important;
    font-weight: bolder !important;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 90%;
    text-align: center;
  }

  #cadastronivel2 {
    border-color: #1E22BE;
    background-color: white;
    text-decoration: none;
    color: #1E22BE;
    border-radius: 8px;
    font-size: 15px !important;
    font-weight: bolder !important;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 90%;
    text-align: center;
  }

  #cadastronivel2:hover {
    border-color: #1E22BE;
    background-color: #1E22BE;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    font-size: 15px !important;
    font-weight: bolder !important;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 90%;
    text-align: center;
  }
</style>
